<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Панель администратора</title>
</head>
<body>
    <div class="container">
    <h1>Панель администратора</h1>
    <h2>Администратор: <%= username %></h2>
    <div>
        <form action="/" method="GET">
            <button type="submit">На главную</button>
        </form>
    </div>
    <div style="display: flex; gap: 0.6vw;">
        <form action="/admin-panel" method="GET">
            <button type="submit">Редактирование справочника</button>
        </form>
        <form action="/export-to-excel" method="POST">
            <button type="submit">Экспорт всех заявок Excel</button>
        </form>
        <form action="/change-password" method="GET">
            <button type="submit">Сменить пароль</button>
        </form>
        <form action="/add-admin" method="GET">
            <button type="submit">Добавить администратора</button>
        </form>
    </div>

    <!-- Таблица с журналами -->
    <h2>История выдачи оборудования</h2>
    <form action="/search" method="GET">
        <label for="search">Поиск:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Найти</button>
        <form action="/reset" method="GET">
            <button type="submit">Сбросить</button>
        </form>
    </form>
    <table id="journalTable">
        <thead>
            <tr>
                <th>Получил</th>
                <th>Выдал</th>
                <th>Дата выдачи</th>
                <th>Тип оборудоания</th>
                <th>Номер заявки</th>
                <th>Комментарий</th>
                <th>Дата возврата</th>
                <th>Дата подтверждения</th>
                <th>Возврат подтвердил</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <% issues.forEach(issue => { %>
                <tr>
                    <td><%= issue.fullName %></td>
                    <td><%= issue.issuedBy %></td>
                    <td><%= issue.issueDate %></td>
                    <td><%= issue.journalType %></td>
                    <td><%= issue.journalNumber %></td>
                    <td><%= issue.additionalInfo %></td>
                    <td><%= issue.userDate || '-' %></td>
                    <td><%= issue.returnDate || '-' %></td>
                    <td><%= issue.returnConfirmedBy || '-' %></td>
                    <td>
                        <% if (issue.returnConfirmed === 1) { %>
                            <form action="/confirmReturn/<%= issue.id %>" method="POST">
                                <button type="submit">Подтвердить возврат</button>
                            </form>
                        <% } else if (issue.returnConfirmed === 2) { %>
                            Возвращено
                        <% } else { %>
                            <form action="/confirmReturn/<%= issue.id %>" method="POST">
                                <button type="submit">Подтвердить возврат за сотрудника</button>
                            </form>
                        <% } %>
                    </td>                    
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>
<script>
    document.getElementById('excelExportForm').addEventListener('submit', function (event) {
    event.preventDefault();
    
    const table = document.getElementById('journalTable');
    const html = table.outerHTML;

    // Генерация Blob
    const blob = new Blob([html], {
        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
    });

    // Создание ссылки для скачивания
    const a = document.createElement('a');
    a.href = URL.createObjectURL(blob);
    a.download = 'journal_data.xls';
    a.click();
});

</script>
</html>
